/* system_style.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;

  background-image: url('/static/images/system.avif'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the whole page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  background-attachment: fixed; /* Keeps it fixed when scrolling */
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.5rem;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}

.card li strong {
  color: #ffcd05;
}


.card p {
  font-size: 16px;
  margin-bottom: 25px;
  color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card button {
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3cff00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0d2501;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Optional: center vertically in full view */
}

button {
  justify-content: center;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #c800ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #380243;
}


.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.chart-card {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.chart-card h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #f4f4f4;
}
canvas {
  max-width: 100%;
  height: auto;
}
  

/* Responsive Text */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .card h2 {
    font-size: 1.3rem;
  }

  .card li {
    font-size: 1rem;
  }

  .chart-card h3 {
    font-size: 1.1rem;
  }
}
