<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Analyzer</title>
    <link rel="stylesheet" href="/static/css/styled.css">

</head>
<body>
    
    <div>
        <h1>Password Analyzer</h1>
        <input type="password" id="passwordInput" placeholder="Enter your password">
        <div id="result"></div>
        <button onclick="analyzePassword()">Analyze</button>
        <button id="backBtn">Back</button>
    </div>

    <script>
        function analyzePassword() {
            const password = document.getElementById('passwordInput').value;

            fetch('/password/analyze', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ password })
            })
            .then(response => response.json())
            .then(data => {
                let resultDiv = document.getElementById('result');
                resultDiv.innerHTML = `<strong>Strength:</strong> ${data.strength}<br>`;

                if (data.suggestions.length > 0) {
                    resultDiv.innerHTML += `<strong>Suggestions:</strong><ul>`;
                    data.suggestions.forEach(suggestion => {
                        resultDiv.innerHTML += `<li>${suggestion}</li>`;
                    });
                    resultDiv.innerHTML += `</ul>`;
                }
            })
            .catch(error => console.error('Error:', error));
        }

        document.getElementById('backBtn').addEventListener('click', function () {
             window.location.href = '/';
        });
    </script>
</body>
</html>
